*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0,0,0,0.8);
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.dashboard{
    
    height: 700px;
    width: 15%;
    float: left;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0, 0.9)),url(RoyalG.jpg);
    
    

    
}

nav{
    width: 100%;
    height: 140px;
    color: #fff;
    float: left;
    margin-top: 15rem;
  
}
nav h1{
    text-align: center;
    font-size: 2.8rem;
}
.register{
    background-color: #fff;
    height: 700px;
    width: 80%;
    float: left
}

.header{
    width: 100%;
    height: 40px;
    background-color: #fff;
    float: left;
    margin-top: 95px;
    border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.header h3{
    text-align: center;
    line-height: 40px;
}
 input,select{
     width: 37%;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #111;
     margin-top: 20px;
     margin-left: 5rem;
     
 }

 label,h3{
     margin-left: 6px;
     top: 5px;
     position: relative;
     color: rgba(0,0,0,0.7);
 }

 input[type="submit"]{
     width: 30%;
     cursor: pointer;
     background-color: rgb(36, 88, 31);
     margin-left: 27%;
     color: #fff;
     font-size: 1rem;
 }
 select{
     cursor: pointer;
 }
 button{
     border-radius: 7px;
     background-color: #ddd;
     padding: 10px 25px;
     margin-left: 42%;
     border: none;
     float: left;
     font-weight: bold;
     cursor: pointer;
     color: rgba(0,0,0,0.8);
 }

 ::-webkit-input-placeholder{
     color: rgba(0,0,0);
 }
 ::-moz-input-placeholder{
    color: rgba(0,0,0);
}
::-ms-input-placeholder{
    color: rgba(0,0,0);
}
::placeholder{
    color: rgba(0,0,0);
}

.menu, p{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
    height: 38px;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}



 /* mobile view */
@media screen and (max-width: 700px) {
.dashboard{width: 97%; height: 320px;}
.register{width: 97%; height: 460px;}
body{ background-color: #fff;}
input{width:90%;margin-left:0}
select{width:90%;margin-left:0}
.header,input,select{position: relative; top:-110px;}
button{margin-left: 5rem}


}
